.fonthead {
    font-size: 2rem !important;
}

.fontsub {
    font-size: 1.6rem !important;
}

.martopsub {
    margin-top: 0.5rem;
}

.w10 {
    //width: 10% !important;
    word-wrap: break-word;
    overflow: hidden;
}

.cur {
    cursor: pointer;
}

.w35 {
    //width: 35% !important;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;
    max-width: 35%;
}

.table {
    width: 100% !important;
    table-layout: fixed;
}



.backcol {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    height: 100%;
    //opacity: 0.2;
    background-image: url('/static/media/img/portfolio/cabin.png');


}

.backcolp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.2s ease-in-out;
    z-index: 75;
}

.portfolio-item-caption {
    z-index: 80;
}

.img-back {
    opacity: 0.7;
    z-index: 70;

}


.settingselectdiv {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
}

.settingselect {
    width: 100%;
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
    outline: 0 !important;
    vertical-align: top;
    line-height: 1.49rem;
    z-index: 100;
    //display: flex;
}

.settingselect:focus {
    outline: none !important;
    box-shadow: none;
}

.settingbuttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .settingbutton {
        margin-right: 2rem;
    }
}


// 上传组件

.btn-file-input {
    padding-top: 0px;
    width: 75px;
    text-align: center;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    cursor: pointer !important;
}

.model-body {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-file-input {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
}

.upload-name {
    margin-left: 2px;
}

.file-main {
    margin-right: 3px;
    margin-left: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.width-10 {
    width: 10%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

/*.fileclose {
    border: 0;
    background-color: white;
    font-size: 1.25rem;
    position: relative;
}*/

.input-group-append {
    width: 30% !important;
    display: flex;
    flex-direction: row;
}

// .file-caption-name {
//     width: 70% !important;
// }

.fileinput-remove {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.file-error-message ul li {
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-error-message ul {
    padding-left: 0.5rem !important;
}

.ulcenter {
    justify-content: center;
}

.page-omit {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    cursor: default;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}