{% extends "base.pug" %}
// Portfolio Section

{% block title %}生成活动{% endblock %}
{% load sass_tags %}
{% block css %}
script(src='/static/js/scripts.js')
script(src="/static/js/util.js")
{% endblock %}


{% block content %}
section#create.page-section
  .container
    // Contact Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0.fonthead 修改密码
    
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-star
      .divider-custom-line
    //-.row.justify-content-center.warningrow
    // Contact Section Form
    .row.justify-content-center
      .col-lg-8.col-xl-7
        form#pwdForm(method="post" action='/modify-password/')
          {% if message %}
          .alert.alert-warning {{ message }}
          {% endif %}
          {% csrf_token %}
          .form-floating
            input(type="password" name="original_pwd" placeholder="旧密码" required='true').form-control
            label(for='original_pwd') 旧密码
          .form-floating
            input(type="password" name="new_pwd1" placeholder="新密码" required='true').form-control
            label(for='new_pwd1') 新密码
          .form-floating
            input(type="password" name="new_pwd2" placeholder="确认新密码" required='true').form-control
            label(for='new_pwd2') 确认新密码
          
          br
          button.btn.btn-primary.btn-xl.createactbutton(type="submit") 修改
{% endblock %}
